*,
*::before,
*::after {
  box-size: border-box;
}

body,
h1,
h2,
h3,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
}

iframe {
  border: 0;
}

.a11y-hidden {
  position: absolute;
  top: auto;
  left: -9999em;
  width: 1px;
  height: 1px;
  margin: -1px;
  clip: rect(0 0 0 0);
}

.l-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  background: url("../images/logo.png") no-repeat center top;
  display: block;
  width: 134px;
  height: 42px;
}

.header {
  display: flex;
  justify-content: center;
  position: relative;
  max-width: 1678px;
  width: 100%;
}

.header__menu {
  position: absolute;
  top: 50px;
  z-index: 10;
  display: flex;
  flex-grow: 0;
  flex-shrink: 1;
  justify-content: space-between;
  align-items: center;
  width: 1234px;
}

.header__visual {
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  text-align: center;
}

.header__tit {
  align-self: center;
  font-size: 120px;
  color: #fff;
  text-align: center;
  letter-spacing: -4px;
}

.header__tit-disc {
  display: block;
  margin-bottom: 110px;
  font-size: 38px;
  letter-spacing: initial;
}

.header__tit-disc span {
  color: #22cfd1;
}

.gnb {
  display: flex;
  justify-content: space-between;
  width: 561px;
  font-size: 15px;
}

.gnb__link {
  color: #fff;
}

.is-active .gnb__link {
  color: #22cfd1;
}

.video {
  position: relative;
  width: 100%;
  padding-top: 56.25%;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.video__btn {
  background: url("../images/btn.png") no-repeat center top;
  padding: 0;
  width: 54px;
  height: 50px;
  border: 0;
  cursor: pointer;
}

.container {
  text-align: center;
}

.disc {
  margin-top: 100px;
  margin-bottom: 21px;
  width: 735px;
  font-size: 20px;
  color: #595d7b;
}

.about {
  display: inline-block;
  padding: 20px;
  margin-bottom: 84px;
  width: 282px;
  border-radius: 30px;
  background-color: #22cfd1;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
}
