@charset 'utf-8';

//===================================
// variable
//===================================
$font-default: sans-serif;
$font-family: 'Open Sans';

$width-min: 1234px;
$width-max: 1678px;

$loc: '../images/';

$color-highlight: #22cfd1;

//===================================
// mixin
//===================================
@mixin debug($color: red) {
	outline: 1px dashed $color;
}

@mixin background-image($name, $repeat: no-repeat, $x: center, $y: top, $color: null) {
	background: $color url($name) $repeat $x $y;
}

//===================================
// reset
//===================================

*,
*::before,
*::after {
	box-size: border-box;
}

body,
h1,
h2,
h3,
ul {
	margin: 0;
	padding: 0;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

body {
	font-family: $font-family, $font-default;
	line-height: 1.4;
}

iframe {
	border: 0;
}

//===================================
// helper
//===================================
.a11y-hidden {
	position: absolute;
	top: auto;
	left: -9999em;
	width: 1px;
	height: 1px;
	margin: -1px;
	clip: rect(0 0 0 0);
}

//===================================
// common
//===================================
.l-row {
	display: flex;
	flex-direction: column;
	align-items: center;

}

//===================================
// pages
//===================================

.logo {
	@include background-image($loc + 'logo.png');
	display: block;
	width: 134px;
	height: 42px;
}

.header {
	// @include debug;
	display: flex;
	justify-content: center;
	position: relative;
	max-width: $width-max;
	width: 100%;

	&__menu {
		position: absolute;
		top: 50px;
		z-index: 10;
		display: flex;
		flex-grow: 0;
		flex-shrink: 1;
		justify-content: space-between;
		align-items: center;
		width: $width-min;
	}

	&__visual {
		// @include debug;
		justify-content: center;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 10;
		text-align: center;

		&-close {

		}
	} // visual

	&__tit {
		align-self: center;
		font-size: 120px;
		color: #fff;
		text-align: center;
		letter-spacing: -4px;

		&-disc {
			display: block;
			margin-bottom: 110px;
			font-size: 38px;
			letter-spacing: initial;

			span {
				color: $color-highlight;
			}
		}
	}
}

.gnb {
	display: flex;
	justify-content: space-between;
	width: 561px;
	font-size: 15px;

	&__link {
		color: #fff;

		.is-active & {
			color: $color-highlight;
		}
	}
}

.video {
	position: relative;
	width: 100%;
	padding-top: 56.25%;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
	}

	&__btn {
		@include background-image($loc + 'btn.png');
		padding: 0;
		width: 54px;
		height: 50px;
		border: 0;
		cursor: pointer;
	}
}

.container {
	text-align: center;
}

.disc {
	margin-top: 100px;
	margin-bottom: 21px;
	width: 735px;
	font-size: 20px;
	color: #595d7b;
}

.about {
	display: inline-block;
	padding: 20px;
	margin-bottom: 84px;
	width: 282px;
	border-radius: 30px;
	background-color: $color-highlight;
	text-transform: uppercase;
	color: #fff;
	font-size: 18px;
}